.clearfloat {clear:both; height:0; font-size: 1px; line-height: 0px;margin:0;padding:0;}
.required { font-weight:bold; color:#c00;}

#masthead {
  margin: 20px 0 20px 0;
  overflow: auto;
}

#masthead img#branding {
  margin-right:15px;
  float: left;
}

#masthead p {
  float: left;
  font-size: 11px;
  margin: 0;
}

#order_info {
  float: right;
}

#order_info h1 {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

#order_info p#order_data {
  margin: 0px;
}

p#customer_data {
  margin: 25px 0 0 0;
  overflow: visible;
}

#products th {
  font-size: 10px;
  border-bottom: solid gray 1px;  
}

#footer h1 {
  font-size: 9px;
  line-height: 10px;
  margin: 0px;
}

#footer p {
  font-size: 9px;
  line-height: 10px;
  margin: 0px;
}