.clearfloat {clear:both; height:0; font-size: 1px; line-height: 0px;margin:0;padding:0;}

#masthead {
  margin: 40px 0 0 0;
  overflow: auto;
}

#masthead img#branding {
  float: right;
}

#masthead h1 {
  float: right;
}

#masthead p {
  float: left;
  margin: 0 100px 0 0;
}

#order_info h1 {
  position: relative;
  font-size: 22px;
  left: 650px;
  width: 300px;
  line-height: 30px;
  margin: 30px 0 0 0;
}

#order_info p#order_data {
  position: relative;
  margin: 0px;
  width: 300px;
  left: 650px;
}

#order_info p#customer_data {
  position: relative;
  margin: 0px;
  width: 500px;
  top: -72px;
  overflow: visible;
}

#products th {
  font-size: 10px;
  border-bottom: solid gray 1px;  
}

#footer h1 {
  font-size: 9px;
  line-height: 10px;
  margin: 0px;
}

#footer p {
  font-size: 9px;
  line-height: 10px;
  margin: 0px;
}