- if Product.where(["coupon_1 = :coupon OR coupon_2 = :coupon OR coupon_3 = :coupon OR coupon_4 = :coupon OR coupon_5 = :coupon", coupon: params[:coupon]]).count < 1
  alert('coupon code does not exist')
- else
  $('#coupon').html('Applied Coupon code #{session[:coupon]}')
